/* Default HTML Tags */

p {
	margin-bottom: 0.5rem !important;
}

body {
	background-color: #eeeeee; !important;
	background: #eeeeee; !important;
    margin: 0 !important;
}

/* history tbale */

.history_table_class thead {
	background-color: #bbbbbb26;
}


.history_table_class tbody th {
  background-color: #36c;
  color: #fff;
  text-align: center;
}

/* Fake H */
.H6P {
	font-weight: bold;
}

/* Buttons */
.custom_ButtonGroup {
}

.custom_Button {
    margin-right: 10px;
    border-radius: 0.375rem !important;
    max-width: 230px;
}

/* Remove Arrows on number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}


/* Loading */
.loading_wrapper > div {
    visibility: visible !important;
}

/* Cards */
.card-header {
    background-color: #e1e1e1 !important;
}

.card-body {
    padding: 0 !important;
}

.custom_card {
    border-radius: 0px 0px 0.375rem 0.375rem !important;
}

.custom_cardBody {
    margin: 0px 5px 0px 5px !important;
}

.custom_cardBody_padding {
    padding: 1rem 1rem !important;
}

/* Tabs */

.nav-tabs {
    border-bottom: 0px solid rgba(0, 0, 0, 0.175) !important;
}

.nav {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.nav-link {
    /*background-color: rgba(0, 0, 0, 0.03) !important; */
    background-color: #F0F0F0 !important;
    border-color: rgba(0, 0, 0, 0.175) !important;
    margin-top: 6px !important;
    margin-bottom: -7px !important;
}

.nav-link.active {
    /*background-color: rgba(0, 0, 0, 0.03) !important; */
    background-color: #e1e1e1 !important;
    border-color: rgba(0, 0, 0, 0.175) !important;
    margin-top: 0px !important;
    margin-bottom: -1px !important;
}

/* Select Menu */
.Select-control {
    border: 0 !important;
}

.Select-menu-outer {
    margin-top: -2px !important;
    border: 1px solid rgba(0, 0, 0, 0.175) !important;
}

