p {
margin-bottom: 0px !important;
}

/* Remove Arrows on number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.loading_wrapper > div {
    visibility: visible !important;
}